
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Content/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>



<body>


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> htn2001@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/nhaafthofa"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/nhaajt_hofa8/"><i class="fa fa-instagram"></i></a>
                                <a href="https://zalo.me/0825415305"><i class="fa fa-fazalo"></i>zalo</a>
                            </div>
                            <div class="header__top__right__language">
                                @if (Session["id"] != null)
                                {
                                    <div>@Session["ten"]</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>

                                        <li><a href="~/Home/Logout"><i class="fa fa-user"></i> Đăng xuất</a></li>
                                    </ul>

                                }
                                else
                                {
                                    <div>Đăng nhập/Đăng Ký</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="~/Home/Register"> Đăng ký</a></li>
                                        <li><a href="~/Home/Login"> Đăng nhập</a></li>
                                    </ul>
                                }
                            </div>
                            <div class="header__top__right__auth">
                                <div class="col-lg-3">
                                    <div class="header__logo">
                                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                            <li>
                                <a href="@Url.Action("Index", "Home")">Sản Phẩm</a>
                                <ul class="header__menu__dropdown">
                                    @Html.Action("_LoaiSanPham", "LoaiSanPham")
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index", "GioHang")">Đơn Hàng</a></li>
                            <li><a href="https://forms.gle/bZDkqXiTQo9u9gHu9">Góp Ý</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="@Url.Action("Index", "GioHang")"><i class="fa fa-shopping-bag"></i> <span id="CartCount">@Session["count"]</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
        <!-- Hero Section Begin -->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>THƯƠNG HIỆU VÀ DUNG TÍCH</span>
                            </div>

                            <ul>
                                @Html.Action("_LoaiSanPham", "LoaiSanPham")
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                @using (Html.BeginForm("Search", "TimKiem", FormMethod.Post))
                                {
                                    <form action="#">
                                        @Html.TextBox("txtTimkiem", "", htmlAttributes: new { @class = "TextBoxTimkiem", @placeholder = "Bạn cần nước  hoa gì?" })
                                        <button type="submit" class="site-btn">Tìm Kiếm</button>
                                    </form>
                                }

                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>0825415305</h5>
                                    <span>Hổ Trợ 24/7 time</span>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div style="text-align: center"></div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="~/Content/img/abc.jpg">
                            <img src="~/Content/img/2.jpg" />
                        </div>
                         @RenderBody()
                    <div class="" data-setbg="~/Content/img/5.jpg">
                        <img src="~/Content/img/5.jpg" />
                    </div>
               
            </div>
        </section>
        <!-- Hero Section End -->
        <!-- Categories Section Begin -->
        <section class="categories">
            <div class="container">

            </div>
        </section>
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="#"><img src="~/Content/img/logo.jpg" alt=""></a>
                            </div>
                            <ul>
                                <li>Address: Quận 9 HCM City</li>
                                <li>Phone: +84 0825415305</li>
                                <li>Email: htn2001@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            Thanh Toán và Giao Hàng Tận Nơi
                            <br />
                            (082 5415305)
                            <br />
                            Chính Sách đổi hàng
                            <br />
                            Chính sách bảo mật
                            <br />
                            Chính sách bảo hành
                            <br />
                            <a href="https://forms.gle/bZDkqXiTQo9u9gHu9">Phản Hồi / Góp Ý</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <p>Nhận cập nhật qua email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt</p>
                            <form action="#">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit" class="site-btn">Đăng Ký</button>
                            </form>
                            <div class="footer__widget__social">
                                <a href="https://www.facebook.com/nhaafthofa"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/nhaajt_hofa8/"><i class="fa fa-instagram"></i></a>
                                <a href="https://zalo.me/0825415305"><i class="fa fa-fazalo"></i>zalo</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__copyright">
                                <div class="footer__copyright__text">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        © 2022 htn2001@gmail.com
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                                <div class="footer__copyright__payment"><img src="~/Content/img/payment-item.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
        <!-- Js Plugins -->
        <script src="~/Content/js/jquery-3.3.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.nice-select.min.js"></script>
        <script src="~/Content/js/jquery-ui.min.js"></script>
        <script src="~/Content/js/jquery.slicknav.js"></script>
        <script src="~/Content/js/mixitup.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/main.js"></script>



</body>

</html>

